body {
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: stretch;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* header section */
.header {
  display: flex;
  flex-flow: column;
  background-color: #1f2937;
  padding: 10px 300px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu .logo {
  margin-right: auto;
  color: #f9faf8;
}

.menu .links {
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0px;
  color: #e5e7eb;

  list-style-type: none;
}

.introduction {
  color: #f9faf8;
  display: flex;
  padding: 100px 0px;
  gap: 100px;
}

.introduction > * {
  flex: 1;
}

.sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}

.image {
  background-color: #999;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


/* main-1 section */

.main-1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0px 350px;
}

.main-1 > .title {
  padding: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 100px;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.placeholder {
  border: solid 5px #3882f6;
  border-radius: 10%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* main-2 section */

.main-2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 100px 350px;

  background-color: #e5e7eb;
}

.main-2 > h2 {
  align-self: flex-end;
}

.main-2 > p {
  font-size: 36px;
  font-style: italic;
}

/* main-3 section */

.main-3 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 100px 300px;
}

.announcment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 100px;
  color: #e5e7eb;
  background-color: #3882f6;
  gap: 100px;

  border-radius: 15px;
  flex-grow: 1;
}

.message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 3;
}

.message > * {
  padding: 0;
  margin: 0;
}

.announcment > .sign-up {
  flex: 1;
  border: #e5e7eb solid 2px;
}


/* footer */

.footer {
  text-align: center;
  padding: 10px;
  background-color: #1f2937;
  color: #e5e7eb;
}